<h1>Restaurants</h1>
<% @restaurants.each do |restaurant|  %>
<h1> <%= restaurant.name %> </h1>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.phone_number %></p>

<% end %>

<%= link_to 'Créer un restaurant', restaurants_new_path, class: 'btn btn-abus' %>
