// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "form_to_new_command";

.drinks_category {
  font-size: 1.5rem;
    text-align: center;

}

.soft {
  text-align: center;
}

.drink_per_5 {
  display: flex;
  }
.drink_per_5 h1 {
  margin: auto;
  font-size: 10px;
}

.carousel-inner h1 {
  text-align: center
}

.container_all_drinks {
  height: 100rem;
}

.carousel {
  margin-top: 8rem;
}

.card {
  margin: auto;
  width:75px;
}

.card img {
  object-fit: cover;
}
