// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "form_to_new_command";

.drinks_category {
  font-size: 1.5rem;
    text-align: center;
    padding-top: 3rem;
}

.soft {
  text-align: center;
}

.drink_per_5 {
  display: flex;
  }
.drink_per_5 h1 {
  margin: auto;
  font-size: 16px;
}
